.run-amount {
  width: 500px;
  h2 {
    font-size: 22px;
    // padding: 0%;
    padding: 10px;
    // width: 1;
    position: sticky;
    top: 0%;
    color: white;
    margin: 0%;
    background: transparent
      linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
  }
  @media screen and (max-width: 780px) {
    width: 100%;
    background-color: white;
  }
  .heading-pnl {
  }
}
