.odds-btn {
  width: 76px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: none;
  border-radius: 2px;

  @media screen and (max-width: 780px) {
    width: 55px;
    
  }
}
