.bonus_rule_modal {
    width: 800px;
    display: block;
    margin: auto;
    background-color: #fff;
    height: 100vh;
}

.modale_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 32px);
    background-color:rgba(0, 0, 0, 0.03);
    padding: 16px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid rgb(227, 227, 227);

    svg {
        cursor: pointer;
        font-size: 22px;
        font-weight: 800;
    }
}
.modal_body_content{
    width: calc(100% - 32px);
    padding: 16px;
    h5{
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
    h6{
        font-size: 14px;  
    }
    div span{
       text-decoration: underline;
       color: #000;
       font-weight: 600;
       padding-right: 6px;
    }
    .tru_trolling{
        text-decoration: underline;
    }
}

