.casino_card_container {
    width: 100%;
    gap: 2px;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 780px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        row-gap: 5px;
        
    }
.casino-card-t{
    width: 16.4%;
    display: flex;
    height: 130px;
    flex-direction: column;

    @media screen and (max-width: 780px) {

        width: 100%;
    }
    .casino_card {
        width: 100%;
        background-image: url(../../assets/img/ooulette1.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 80%;

        @media screen and (max-width: 780px) {
            width: 100%;

            
        }
    }
    .casion-card-footer {
        height: 20%;
        background: #a70011;
        width: calc(100% - 20px);
        padding: 4px 10px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        cursor: pointer;

        @media screen and (max-width: 780px) {
            clip-path: polygon(0px 0px, 100% 0%, 85% 100%, 0% 100%);
            width: 70%;
            text-transform: uppercase;
            height: 0%;
            padding: 4px 10px;
            height: 15%;

            
        }
    }
}
}