.deposit_cont {
  display: flex;
  flex-direction: column;
  .MuiTableCell-body {
    border: none;
  }
  .dep-heading {
    // background: #2c3e50 !important;
    background-image: linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
    color: white;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
  }

  .deposit_amount {
    // border: 1px solid green;
    display: flex;
    gap: 50px;
    padding-left: 50px;
    justify-content: space-between;
    position: relative;

    @media screen and (max-width: 780px) {
      display: flex;
      flex-direction: column;

      padding-left: 0px;
    }

    .left {

      .error-class {
        position: absolute;
        left: 8%; 
        top: 55px;
        color: red

      }
            p {
        margin: 0;
        margin-top: 20px;
        font-size: 16px;
      }

      button {
        // background-color: #2c3e50;
        background-image: linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
        padding: 4px 25px;
        // border-color: #2c3e50;
        background-image: linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
        color: #fff;
        border: 1px solid transparent;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
      }
      input {
        padding: 5px;
        border: 2px solid #2c3e50;
        border-left: none;
        border-right: none;
      }

      .left_span {
        display: flex;
        align-items: center;
      }
    }

    .right {
      display: flex;
      align-items: end;
      gap: 10px;

      @media screen and (max-width: 780px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
      }

      button {
        // background-color: #2c3e50;
        // background-image: linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
        color: #0088cc;
        border: 1px solid #000;
        background-color: #fff;
        padding: 4px 25px;

        border: 1px solid black;
        border-radius: 0.25rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;

        @media screen and (max-width: 780px) {
          padding: 4px 5px;
        }
      }
    }
  }

  .middle_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    align-items: center;

    @media screen and (max-width: 780px) {
      width: 100%;
    }
    .bank-detail-div {
      width: calc(100% - 20px);
      display: flex;
      align-items: center;
      background-color: rgb(102, 102, 102);
      padding: 10px;
      border-radius: 10px;
      justify-content: space-between;
      img {
        width: 30%;
        border-radius: 10px;
      }
    }
    .pay {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 20px;

      .image_cont {
        display: flex;
        // justify-content: space-between;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
        border: 1px solid grey;
        border-radius: 10px;
        width: 100%;
        padding-block: 10px;
        background: rgb(102, 102, 102);

        @media screen and (max-width: 780px) {
          width: 100%;
          display: flex;
          gap: 10px;
          justify-content: space-around;
        }

        .image_sub-cont {
          width: 100px;
          border-radius: 10px;
          aspect-ratio: 1 / 1;
          width: 150px;
          @media screen and (max-width: 780px) {
            width: 120px;
          }

          // width: fit-content;

          img {
            width: 100%;
            border-radius: 10px;
          }
        }
      }
      .payment_cont {
        width: 100%;
        margin-top: 20px;

        .bank_cont {
          width: calc(100% - 20px);
          background: grey;
          border-radius: 10px;
          padding: 10px;
          color: rgb(170, 175, 181);

          .bank-name {
            display: flex;
            justify-content: space-between;
          }

          .account_number {
            display: flex;
            justify-content: space-between;
          }

          .ifsc_code {
            display: flex;
            justify-content: space-between;
          }

          .account_holder {
            display: flex;
            justify-content: space-between;
          }
        }

        .deposit_table {
          border: 1px solid black;
          width: calc(100% - 32px);
          border-radius: 10px;
          overflow: hidden;
          background: rgb(102, 102, 102);
          border: 1px solid gray;
          // padding: 10px;
          padding: 16px;

          .MuiTableCell-root {
            padding: 10px 10px;
            color: rgb(170, 175, 181);
            font-size: 0.875rem;
            border-bottom: 1px solid rgb(81, 81, 81);
            td {
              padding-top: 1px;
              padding-bottom: 0px;
              border: 0px;
            }
          }

          .table_body {
            // background: black;
            border: none;

            .css-1ex1afd-MuiTableCell-root {
              border-bottom: none;
            }

            td {
              // background: black;
              // border-bottom: 1px solid rgb(81, 81, 81);
              border: none;
            }
          }
        }

        .qr_cont {
          width: 100%;
          display: flex;
          flex-direction: column;
          background: rgb(102, 102, 102);
          height: 100%;
          overflow: hidden;
          border-radius: 10px;
          .qr_heading {
            padding: 10px;
          }

          .qr_body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding: 10px;
            width: calc(100% - 20px);
            .walmart {
              width: 50%;
              text-align: left;
              margin: 0 auto;
              img {
                width: 100%;
                aspect-ratio: 1 / 1;
                margin: auto;
                max-width: 200px;
              }
            }

            .display_name {
              display: flex;
              text-align: start;
              height: 100%;
              flex-direction: column;
              gap: 20px;
              span {
                label {
                  color: rgb(170, 175, 181);
                  font-weight: 400;
                  font-size: 0.75rem;
                  line-height: 1.66;
                }
              }
              input {
                padding: 10px;
                width: calc(100% - 20px);
                border-radius: 5px;
              }
              button {
                outline: 0px;
                border: 0px;
                margin: 24px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                cursor: pointer;
                user-select: none;
                vertical-align: middle;
                appearance: none;
                text-decoration: none;
                text-transform: none;
                font-family: "Noto Sans";
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 1.75;
                min-width: 64px;
                padding: 6px 16px;
                border-radius: 4px;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
                    0ms,
                  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                  color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                color: white;
                background-color: rgb(14, 104, 78);
                box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
                  rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
                  rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
                width: 100%;
                border: none;
                outline: none;
              }
            }
          }
        }
      }

      p {
        margin: 0;
        &:nth-child(1) {
          font-size: 20px;
        }
      }

      input {
        width: 100%;
      }
    }

    .lebel {
     
      margin-top: 12px;
      position: relative;
      padding: 10px;
      border-radius: 10px;
      width: calc(100% - 20px);
      background-color: rgb(102, 102, 102);
      margin-bottom: 30px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }

      .react-file-reader {
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
      }
      .react-file-reader-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
      }

      .icon_span {
        padding: 60px 20px;

        svg {
          display: flex;
          margin: auto;
        }
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        // padding: 60px 20px;
      }
    }

    .submit_button {
      width: 100%;
      // background-color: #08c;
      // background-image: linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
      background-color: black;
      color: #fff;
      border: none;
      padding: 5px;
      font-size: 14px;
      padding: 10px;
      border-color: #08c;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .footer {
    p {
      // background-color: #08c;
      background-image: linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
      color: #fff;
      font-size: 17px;
      padding: 5px;
      margin-bottom: 2px;
      margin-top: 5px;
    }

    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      // background: rgb(44, 61, 80);
      background-image: linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
      border-right: 1px solid white;

      span {
        border-right: 1px solid white;
        display: flex;
        color: white;
        // width: 100%;
      }
    }

    .deposit_table {
      .deposit_table-head {
        th {
          color: white;
          // border-right: 1px solid white;
        }
      }

      .table_body {
        border: none;

        .css-1ex1afd-MuiTableCell-root {
          padding: 0px;
        }

        td {
          color: white;
        }
        .table_td {
          color: rgb(255, 167, 38);
          padding: 4px;
        }

        img {
          width: 50px;
        }
      }
      tr {
        background: black;
        color: white;
        // background-image: linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
      }
    }
  }
}
