.int_casoini_list_all{
    width: 100%;
    display: flex;
    background-color: red;
    padding: 10px 0;
    margin-top: 14px;
}

.all_btn{
    background-color: transparent linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
    color: #fff;
}