.bonus_rule_modal {
    width: 800px;
    display: block;
    margin: auto;
    background-color: #fff;
    height: 100vh;


.modale_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 32px);
    background-color:rgba(0, 0, 0, 0.03);
    padding: 16px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid rgb(227, 227, 227);
    margin-bottom: 20px;

}

.collapse_cont {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .collapse_button {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        background: rgba(0, 0, 0, 0.03);
        color: black;
        border: 1px solid black;
    }
    .collapse_para_cont {
        border: 1px solid #dee2e6;
        margin-bottom: 10px;
        color: rgba(220, 53, 69);
        padding: 10px;
        font-size: 13px;
    
        .collapse_sub-cont {
            border: 1px solid #dee2e6;
    
            .para {
                border-bottom: 1px solid #dee2e6;
                margin: 0px;
                padding: 5px;
    
            }
        }

    }
}

}