.bottom_cont {
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #989898;
    border: 1px solid grey;
   

    .my_bets {
        background: grey;
        color: white;

    }

    .matched_unmatched-bets {
        display: flex;
        text-align: center;
        font-size: 12px;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

        span:first-child {
            margin-right: 10px;
        }
        .active-class {
            background: grey;
            color: white;
            padding: 10px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }

    }

    .table_data {
        margin-left: 20px;
        margin-right: 20px;
        border: 1px solid black;
        border-radius: 30px;
    }
}