.game_detail-cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

    .game-detail-left-col {
        width: 70%;
        border: 1px solid green;

    }

    .game-detail-right-col {
        flex: 1;
        border: 2px solid #a5d9fe;
        border: 2px solid #a5d9fe;
        border: 2px solid #a5d9fe;
        border-top: 0px;
        border-radius: 10px;

    }

}