.user-drop-down-amount {
  width: 170px;
  // width: 150px;
  display: flex;
  align-items: center;
  // padding: 0px 10px;
  padding: 0 5px;
  .user-drop-down-amount-left-col {
    width: 70%;
    font-size: 14px;
    color: #5b5a5a;
    line-height: 12px;
    font-weight: 50;
    small {
      font-size: 10px;
    }
  }
}
.user-drop-down-amount-left-col {
  font-size: 13px;
  font-weight: 700;
}
.ul-drop-user {
  margin: 0%;
  padding: 0px;

  li {
    list-style: none;
    padding-block: 3px;
    padding: 6px;
  }
  .list-bottom-border {
    padding-left: 10px;
    border-bottom: 1px solid #dddddd;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 5px;
    font-weight:400
  }
  .logout-li {
    padding-inline: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    svg {
      font-size: 18px;
    }
  }

  .refer_earn {
    background: transparent
      linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
    border-radius: 100px;
    text-align: center;
    color: white;
    // margin-bottom: 5px;
    margin: 5px;
  }
  .bonus {
    border: 1px solid #b88831;
    color: #b88831;
    border-radius: 100px;
    text-align: center;
    margin: 5px;
  }

  .link {
    text-decoration: none;
    color: black;
  }
}

.drop-menu {
  position: absolute;
  &::after {
    content: "";
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 50%;
    margin-right: -5px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #ffffff transparent;
  }
}
