.scorecard_heading {
  width: calc(100% - 28px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dedddd;
  padding: 6px 14px;
  // border-bottom-left-radius: 6px;
  // border-bottom-right-radius: 6px;
  @media screen and (max-width: 780px) {
    text-transform: uppercase;
    font-size: 14px;
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0;
    background: transparent
      linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
    color: #000;
    position: relative;
    width: 90%;
    margin: 0 auto;
    &:after {
      content: "";
      width: 20px;
      height: 100%;
      background: var(--theme-primary);
      position: absolute;
      right: -10px;
      top: 0px;
      transform: skew(-339deg);
      background-color: #bb8c38;
    }
    &::before {
      content: "";
      width: 20px;
      height: 100%;
      background: var(--theme-primary);
      position: absolute;
      left: -10px;
      top: 0px;
      transform: skew(339deg);
      background-color: #bb8c38;
    }
  }

  p {
    margin: 0 !important;
    padding: 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;

    a {
      display: flex;
      align-items: center;
    }
    svg {
      font-size: 10px;
      font-weight: bold;
      background-color: #000;
      color: #fff;
      border-radius: 50%;
      padding: 2px;
      cursor: pointer;
      font-weight: 800;
      @media screen and (max-width: 780px) {
        display: none;
      }
    }
  }

  .score_btn {
    background-color: #4caf50;
    border: unset;
    padding: 2px 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    @media screen and (max-width: 780px) {
      display: none;
    }
    svg {
      color: #fff;
      font-size: 14px;
    }
  }
}

.score_board {
  width: 100%;
  // background-image: url("../../assets/img/scoreboardbanner.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 150px;
  transition: height 0.4s ease-in-out;
  overflow: hidden;

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  iframe {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.score_board2 {
  width: 100%;
  transition: height 0.4s ease-in-out;
  height: 0px;
  margin-top: 10px;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.matchTime {
  @media screen and (max-width: 780px) {
    display: none;
  }
}

.matchName {
  @media screen and (max-width: 780px) {
    font-weight: 500;
  }
}
.betsh {
  display: inline-block;
  width: 40px;
  background: #000;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  color: #fff !important;
  font-weight: 600;
  margin-left: 5px;
  font-size: 12px;
}
