.casino-iframe-header {
  width: 100%;
  background: linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;
  .casino-iframe-header-left-col {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
    svg {
      color: white;
    }
    img {
      width: 18%;
    }
    span {
      color: white;
    }
  }
  .casino-iframe-header-left-col {
    width: 50%;
    color: white;
  }
}
.casino-iframe {
  width: 100%;
  height: calc(100vh - 55px);
  background-color: #b7862f;
  iframe {
    width: 100%;
    height: 100%;
  }
}
