.settings_cont {
    background: black;
    margin: 10px;
    width: calc(100% - 20px);
    height: 100%;
   

    .settings-heading {
        background: transparent linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
        padding: 10px 5px;


    }

    .values_cont {
        width: calc(100% - 60px);
        width: 100%;
        padding: 20px 30px;
        column-gap: 20px;
        text-align: start;
        display: flex;
        flex-direction: column;

        .values {
            
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: white;

        }

        .button {
            color: white;
            width: calc(100% - 60px);
            background: transparent linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 10px;
        }

    }

}