.main-layout-container {
  width: 100%;
  height: 100vh;
  background-color: aqua;
  .header-layout {
    height: auto;
  }
  .content-container {
    width: 100%;
    display: flex;
    height: calc(100% - 64px);
    .sider-container {
      width: 15%;
      background-color: firebrick;
      height: 100%;
    }
    .content {
      width: 65%;
      height: 100%;
      background-color: darkcyan;
    }
    .banner-sider {
      width: 20%;
    }
  }
}
