.main-layout-container {
  width: 100%;
  height: 100vh;
  margin-bottom: 75px;
  @media screen and (max-width: 780px) {
    height: 100%;
  }
  .header-layout {
    height: auto;
    // position: sticky;
    top: 0%;
    z-index: 100;
  }
  .content-container {
    width: 100%;
    display: flex;
    height: calc(100% - 64px);
    .sider-layout-container {
      width: 15%;
      height: 100%;
      background-color: white;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      @media screen and (max-width: 780px) {
        position: fixed;
        z-index: 103;
        width: 0%;
        transition: width 0.4s;
        top: 90px;
        background-color: transparent;
        border-right: none;
      }
    }
    .sider-layout-active {
      width: 100%;
      position: fixed;
      z-index: 999999;
      height: calc(100vh - 108px);
      background-color: transparent;
      border-left: 1px solid #ddd;
      border-right: none;
      transition: width 0.4s;
      top: 108px;
    }
    .content {
      width: calc(60% - 20px);
      height: 100%;
      padding: 10px;
      background-color: white;
      @media screen and (max-width: 780px) {
        width: calc(100% - 10px);
        padding: 5px;
      }
    }
    .sub-content {
      width: calc(84% - 20px);
      padding: 10px;
      @media screen and (max-width: 780px) {
        width: calc(100% - 5px);
        padding: 2px;
      }

      @media screen and (max-width: 780px) {
        // background-color: #202020;
        overflow: hidden;
        width: 100% !important;
      }
    }
    .banner-sider {
      width: 25%;
      margin-top: 10px;
    }
  }
}
