.login_modal {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/img/loginbanner.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_section {
  margin: auto;
  // width: 90%;
  width: 70%;
  display: block;
}

.winbuaa_logo {
  width: 100%;
  text-align: center;
}

.winbuaa_logo img {
  width: 80%;
}

.login-form {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  input {
    width: calc(100% - 20px);
    background-color: #fff;
    color: grey;
    padding: 11px 10px;
    margin-top: 8px;
    border: unset;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
}

.login_buttons {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.login {
  background: #b88831;
  padding: 12px 10px;
  text-align: center;
  color: #fff;
  border: unset;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

.login_with_demo {
  background: #b88831;
  padding: 12px 10px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  border: unset;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;

  a {
    color: black;
    font-size: 16px;
  }
}

.cross_icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.cross_icon svg {
  font-weight: 800;
  color: #000;
  cursor: pointer;
}
